.DS_Store
.superpowers/
.idea/
*.iml

server/target/
server/.env

android/.gradle/
android/local.properties
android/**/build/
android/**/.cxx/
android/.kotlin/errors/
android/**/hs_err_pid*.log
.android-sdk/

infra/.env
